.DS_Store
Thumbs.db
__pycache__/
*.py[cod]
.ipynb_checkpoints/
venv/
env/

.vscode/
.idea/
*.swp
*.sublime-workspace
*.sublime-project

build/
dist/
*.egg-info/
*.pth
*.h5
*.ckpt
*.csv
*.tsv
*.xlsx
*.zip
*.tar.gz
*.log
*.out

